body{
background: url("http://userimages-akm.imvu.com/userdata/01/72/39/73/userpics/Snap_JQY9eTEUmr1688728238.png");
}

#layout-container {
width: 900px;
margin: 0px auto;
border: 1px solid #ccc;
}

#layout-container > div {
width: 100%;
text-align: center;
}

#header-container {
height: 100px;
}

#product-block > div {
width: 100%;
padding: 20px 0px;
margin: 0px auto;
font-family: sans-serif;
box-sizing: border-box;
}

.special-collection {
font-family: sans-serif;
font-variant: small-caps;
font-weight: bold;
font-size: 2em;
text-decoration: none;
}

#other-products > div > a {
font-family: sans-serif;
font-variant: small-caps;
font-weight: bold;
font-size: 1.5em;
color: gray;
text-decoration: none;
}

#other-products > a {
padding: 2px;
}

#other-products img {
width:100px !important;
height:80px !important;
border: 1px solid #aaa;
}
